<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <meta charset="UTF-8">
    <title>PetVet - Strona główna</title>

</head>
<body>
<div th:replace="fragments/header"></div>

<h1>Strona ze zwierzętami!</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Typ</th>
        <th>Rasa</th>
        <th>Wiek</th>
        <th>Płeć</th>
        <th>Zdjęcie</th>
        <th>Opcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td>
            <a th:href="@{/pets(id=*{pet.id})}">
                <span th:text="*{pet.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="*{pet.type.name}"></span>
        </td>
        <td>
            <span th:text="*{pet.breed}"></span>
        </td>
        <td>
            <span th:text="*{pet.age}"></span>
        </td>
        <td>
            <span th:text="*{pet.sex}"></span>
        </td>
        <td>

            <img class="photo" th:if="${pet.image} != null" th:src="'/photos/' + *{pet.image}" alt="photo">
        </td>
        <td>
            <a th:href="@{/pets/form(id=*{pet.id})}">
                <img class="click-icon" th:src="@{/images/edit-flat.png}" alt="edit-icon">
            </a>
        </td>


    </tr>

    </tbody>
</table>
<div th:replace="fragments/pagination :: pager('/pets',${vehicleListPage})"/>
<div sec:authorize="hasRole('ROLE_USER')">
    <a href="/pets/form">Dodaj pupila</a>
</div>
<div th:replace="fragments/footer"></div>

</body>
</html>