<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="fragments/header"></div>
<h1>form</h1>
<form action="/user/edit/credentials" th:object="${credentials}" method="POST">
    <div th:errors="${credentials}">...</div>

    EDIT CREDENTIALS
    <div>
        <label>first</label>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>last</label>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>phone</label>
        <input th:field="*{phoneNumber}"/>
        <p th:each="error : ${#fields.errors('phoneNumber')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>birthDate</label>
        <input th:field="*{birthDate}" type="date"/>
        <p th:each="error : ${#fields.errors('birthDate')}"
           th:text="${error}">Validation error</p>
    </div>

    <button type="submit">Uaktualnij</button>
</form>
</body>
</html>