<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="fragments/header"></div>
<h1>form</h1>
<form action="/user/edit" th:object="${user}" method="POST">
    <div th:errors="${user}">...</div>

    EDIT CREDENTIALS
    <div>
        <label>first</label>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>last</label>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </div><BR>
    EDIT PASSWORD
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>

    <input type="hidden" th:field="*{email}"/>
    <button type="submit">submit</button>
</form>

</body>
</html>