<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="fragments/header"></div>
<h1>form</h1>
<form action="/user/edit/password" th:object="${userDto}" method="POST">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            Zmień hasło:
            <div>
                <label>password</label>
                <input type="password" th:field="*{password}"/>
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <label>confirm</label>
                <input type="password" th:field="*{matchingPassword}"/>
            </div>

            <input type="hidden" th:field="*{email}"/>
            <button type="submit">Zmień hasło</button>
        </div>
    </div>
</form>

</body>
</html>